# Compilados de Java
*.class

# Archivos de IntelliJ / IDEs
.idea/
*.iml

# Archivos temporales
*.log
*.tmp
*.swp
*~

# Archivos de sistema
.DS_Store
Thumbs.db

# Backup raro que tienes
..gitignore.un~

# (Opcional) ignorar docs si no los quieres subir
# *.docx

